

/* All Pages */
.content-page {
    padding-left: 5vh;
    padding-right: 5vh;
}

body {
    font-family: vollkorn;
    color: #010D26;
    column-fill: auto
}

body text,
body p {
    font-family: vollkorn;
    color: #010D26
}
a {
    color: #BF4904;
}

/* FRONT PAGE */
.frontpage .title {
    font-weight: bold;
    font-size: 120px;
    color: #F2E1C9;
}
.frontpage .subtitle {
    font-size: 60px;
    color: #F2E1C9;
    padding-bottom: 20vh;
}
.cover-image {
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}
.down-arrow {
    transform: translate(49vw, 0);
}


/* PROVIS PAGE */
.axis line,
.axis path {
    fill: none;
    stroke: #555;
    shape-rendering: crispEdges;
}

.x-axis .tick{
    font-size: 11px;
    fill: #555;
}
.axis-title{
    font-size: 14px;
}

.profit-empty-text{
    font-size: 50px;
    font-weight: bolder;
}
#areaVis {
    padding-top: 30px;
}
#profitVisTooltip {
    padding-top: 40px;
}

td {
    text-anchor: end;
    font-size: 12px;
}

/* Story Pages*/
.story-page {
    background-image: url('../img/navy-tan gradient.png');
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    padding: 60px;
}

.col-md{
    padding: 100px
}

.story-text {
    color: #F2E1C9;
}


/* OTHERS */
.justify-text {
    text-align: justify;
}

.center-text {
    text-align: center;
}

.center-vert {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.centerDiv {
    margin: auto;
    padding: 10px;
}

/* TOOLTIP */
.tooltip {
    position: absolute;
    text-align: center;
    font: 12px sans-serif;
    border: thin solid #010D26;
    border-radius: 5px;
    background: #F2E1C9;
    padding: 20px
    /*  pointer-events: none;	This line needs to be removed */
}
.tooltip h3,h4 {
    text-align: left;
}
.tooltip h4 {
    font: 14px sans-serif;
}